{% extends "base.html" %}

{% block title %}LLC List - RentTracker{% endblock %}

{% block content %}
<h2>LLCs</h2>
<hr>

{% comment %} Optional: Add a button to create a new LLC later {% endcomment %}
<a href="#" class="btn btn-primary mb-3">Add New LLC</a>

{% if llcs %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Last Filing Date</th>
                <th scope="col">Filing Status</th>
            </tr>
        </thead>
        <tbody>
            {% for llc in llcs %}
            <tr>
                <td>{{ llc.name }}</td>
                <td>{{ llc.creation_date|date:"N j, Y" }}</td> {# Format date nicely #}
                <td>{{ llc.last_filing_date|date:"N j, Y"|default:"N/A" }}</td> {# Handle None date #}
                <td>
                    {% comment %} Use the model method to get the status string {% endcomment %}
                    {% with status=llc.get_filing_status %}
                        {% if status == 'green' %}
                            <span style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color: green; vertical-align: middle;"></span>&nbsp;Good
                        {% elif status == 'yellow' %}
                            <span style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color: orange; vertical-align: middle;"></span>&nbsp;Approaching Deadline
                        {% elif status == 'red' %}
                            <span style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color: red; vertical-align: middle;"></span>&nbsp;Check Filing
                        {% elif status == 'unknown' %}
                             <span style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color: grey; vertical-align: middle;"></span>&nbsp;Unknown
                        {% endif %}
                    {% endwith %}
                </td>
                 {% comment %} Optional: Add action buttons later (Edit, Delete) {% endcomment %}
                 <td>
                     <a href="#" class="btn btn-sm btn-outline-secondary">Edit</a>
                     <a href="#" class="btn btn-sm btn-outline-danger">Delete</a>
                 </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="alert alert-info">No LLCs found.</div>
{% endif %}

{% endblock %}
